{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <a href={% url 'create_task' %}>Create a new task</a>
            {% if not project.tasks.all %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Assignee</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td scope="row">{{ task.name }}</td>
                                <td scope="row">{{ task.assignee }}</td>
                                <td scope="row">{{ task.start_date }}</td>
                                <td scope="row">{{ task.due_date }}</td>
                                <td scope="row">{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </main>
    {% endblock content %}
